<ion-header>
</ion-header>

<ion-content>

<img src="assets/logo.png" alt="Logo">

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

<ion-button expand="block">Signup</ion-button>

<p>
  New user? <ion-router-link /signup>Sign Up</ion-router-link>
</p>

<p>
  Login instead? <a href="/login">Login</a> (replace with actual login route)
</p>

</ion-content>
