/* login.page.scss */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f8f9fa;
}

.login-box {
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  width: 100%;
}

p {
  text-align: center;
  margin-top: 10px;
}

p a {
  color: #007bff;
  text-decoration: none;
}
