<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="signup()">Sign Up</ion-button>

  <div class="login-option">
    <p>Existing User? <a href="/login">Login</a></p>
  </div>
</ion-content>
