.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    background-color: #d2b48c; // tan color
  }
  
  h2 {
    color: white;
  }
  
  ion-item {
    --background: #98fb98; // pale green
  }
  
  ion-button {
    margin-top: 20px;
    background-color: #556b2f; // dark olive green
  }
  
  p {
    margin-top: 10px;
    color: blue;
  }

  